 body {
        background: linear-gradient(to bottom, #f5cac3, #f7ede2);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    #main, #calendarContainer, #summaryContainer {
        text-align: center;
        vertical-align: middle;
        width: 100%;
    }

    h1 {
        color: #ff477e;
    }

    #yesButton {
        background-color: #06d6a0;
        transition: transform 0.3s;
        margin-right: 10px;
        width: 120px;
        font-size: 30px;
        height: 40px;
        color: #fff;
        margin-left: -140px;
    }

    #no {
        background-color: #ef476f;
        transition: transform 0.3s;
        margin-left: 10px;
        width: auto;
        padding: 10px 20px;
        font-size: 18px;
        height: auto;
        color: #fff;
        white-space: nowrap;
        overflow: hidden;
        text-align: center;
        display: inline-block;
        position: absolute;
    }

    #calendarContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        text-align: center;
    }

    #summaryContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        text-align: center;
        font-family: 'Verdana', sans-serif;
    }

    #calendarContainer input, #confirmDateButton {
        font-size: 22px;
        padding: 10px;
        margin: 10px;
        width: 80%;
    }

    #confirmDateButton {
        background-color: #06d6a0;
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        width: 80%;
    }

    #summaryText {
        font-size: 20px;
        color: #333;
    }
